body {
    background-image: url("record.png");
    background-repeat: repeat;
    background-color: #FBC740;
    margin: 0;
}
.storeName {
    background-color: #5A3E79;
    color: whitesmoke;
    text-align: center;
}
.console {
    background-color: lightgray;
    padding: 1em;
}
ul {
    color: white;
    font-size: 36px;
    font-weight: bold;
}